header {
  background-image: url("https://thumbs.gfycat.com/IncompatibleTiredHawaiianmonkseal-max-1mb.gif");
  object-fit: contain;
}
body {
  background-color: none;
  background-image: url("https://images.pexels.com/photos/129731/pexels-photo-129731.jpeg?auto=compress&cs=tinysrgb&w=600");
}

#mySidemenu a {
  position: fixed;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidemenu a:hover {
  background-color: RoyalBlue;
  text-decoration: underline;
  left: 0;
}

#about {
  top: 150px;
  background-color: #04aa6d;
}

#wta {
  top: 210px;
  background-color: #04aa6d;
}

#atp {
  top: 270px;
  background-color: #04aa6d;
}

#contact {
  top: 330px;
  background-color: #04aa6d;
}
h1 {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
h2 {
  color: cyan;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  text-align: center;
}

.tennisPlayers {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.player {
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  align-items: center;
  margin: 3rem 0;
  flex-wrap: wrap;
  background-color: bisque;
  padding: 2rem;
}

.playerDetails {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.responsive {
  max-width: 100%;
  height: auto;
}

.About {
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  align-items: center;
  margin: 3rem 0;
  flex-wrap: wrap;
  background-color: papayawhip;
  padding: 2rem;
  flex-direction: column;
  align-content: center;
}
.Contact {
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  align-items: center;
  margin: 3rem 0;
  flex-wrap: wrap;
  background-color: papayawhip;
  padding: 2rem;
  flex-direction: column;
  align-content: center;
}
label {
  float: left;
  font-size: 16px;
}
input[type="text"] {
  width: 50%;
  margin-top: 10px;
  height: 20px;
  margin-bottom: 25px;
  /* padding: 10px 45px; */
  border: 3px solid #2bc1f2;
}

#comment-box {
  width: 50%;
  border: 3px solid #2bc1f2;
  /* padding: 1px; */
  /* margin-bottom: 25px;
  margin-top: 10px; */
  height: 50px;
  resize: none;
}
#post {
  width: 50%;
  padding: 05px 05px;
  background-color: #2bc1f2;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

#post:hover {
  background-color: royalblue;
}
.circle {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  float: left;
}
#myButton {
  display: none;
  position: fixed;
  bottom: 250px;
  right: 01px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #04aa6d;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myButton:hover {
  background-color: RoyalBlue;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: none;
  color: white;
  text-align: center;
}

.footer-bar a {
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.footer-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

@media screen and (max-width: 380px) {
  header {
    object-fit: cover;
  }
  .playerDetails {
    width: 100%;
  }
  input[type="submit"],
  input[type="text"] {
    width: 100%;
    margin-top: 0;
  }
}
